* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto;
}
body {
    font-family: 'Times New Roman', Times, serif;
}

/* nav bar styling*/

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #070c0e;
    padding: 20px 35px;
  }


header a {
    color: #d1c6b3;
    text-decoration: none;
    font-size: 20px;
}

.nav-project {
    margin-left: 100px;
    margin-right: -20px;
}

/*hero section*/

.hero-image {
    background-image: url(../assets/images/hero-img.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 500px; 
}

#about-me {
    color: #d1c6b3;
    margin: 0px;
    display: flex;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
    flex-direction: column;
}

.hero-content h1 {
    font-size: 75px;
}

.hero-content h2 {
    font-size: 25px;
    font-style: italic;
    font-weight: lighter;
    padding: 0%;
    margin: -15px 0px 15px 228px;
    /* text-align: right; */
}

.about-content {
    margin: 0 500px 0 500px;
    
}

/* projects section */
#projects h2 {
    font-size: 40px;
}
#projects {
    color: #d1c6b3;
    background-color: #070c0e;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
}

.project-content {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    font-size: 18px;
    line-height: 1.3;
    border-bottom: solid #5e3d31;
}

#projects a {
    justify-content: right;
    align-content: space-around;
    margin: 50px 20px 25px 100px;
}


/* Contact section */
#contact-info {
    color: #d1c6b3;
    background-color: #070c0e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
#contact-info h3 {
    font-size: 30px;
    
}
#contact-info a {
    text-decoration: none;
    color: #d1c6b3;
}
.contact-content {
    text-align: left;
    margin: auto;
    line-height: 1.3;
    padding-right: 350px;
    border-top: solid #5e3d31;
}
.headshot {
    justify-content: center;
    align-content: center;
    margin: auto;
}

/* footer */
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: #070c0e;
    padding: 20px 35px;
  }
  footer a {
    text-decoration: none;
    color: #d1c6b3;
    font-size: 15px;
  }
 
  @media only screen and (min-width: 600px)
     {
        #projects {
            justify-content: center;
        }
       #contact-info {
            justify-content: center;
        }
    }